#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li{
  list-style-type: none;
}
.nav-link{
  margin: 0 5px;
}
.header{
  min-height: 150px;
  font-size: 4em;
}
.nav-container{
  display: flex;
  justify-content: space-around;
}
.card-top{
  display: flex;
  justify-content: space-between;
}
.top-icon{
  margin: 0 3px;
}
.socials{
  display: flex;
  justify-content: flex-start;
}
.social-icon{
  margin: 0 5px;
}
.socials a{
  color: #fff;
}
.socials a:hover{
  color: rgba(var(--bs-link-color-rgb));
}
.creator-container{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
.about-content{
  display: flex;
  text-align: start;
  justify-content: center;
  margin: 50px 10px;
}
.creator-info{
  max-width: 40%;
  margin: 0 20px;
}
.creator-socials div a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  margin: 0 5px;
}
.creator-socials div{
  margin: 2% 0;
}
.creator-socials div a:hover{
  color: rgba(var(--bs-link-color-rgb));
}
.cta .btn{
  margin: 0 5%;
}